* {
  box-sizing: border-box;
}
*::before. *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
}

.grid {
  width: 100%;
  max-width: 65rem;
  margin: 5rem auto;

  border: 1px solid #D2D2D2;
  overflow: auto;
  padding: 1rem;
}
.column {
  width: calc(100% / 3 - 4rem);
  margin: 2rem;

  float: left;
}
.picture {
  width: 100%;
}

.footer {
  line-height: 4em;
  border-bottom: 1px solid #D2D2D2;
  overflow: auto;
}

.number {
  float: left;
}
.author {
  float: right;
}

.author__pic {
  height: 2em;
  vertical-align: middle;
}
